@import url('./layout/register.css');
@import url('./component/input.css');
@import url('./component/button.css');
.m-row {
    display: flex;
    margin-bottom: 20px;
}

label {
    display: flex;
    flex-direction: column;
}

form {
    width: 500px;
}